.title-br{
    border-top: 10px solid purple;
}

.title{
    color: blueviolet;
}

.section-accordion {
    display: block;

  }
  .add-btn{
    width: 100px;
  }
  .section-accordion-item {
    display: block;
    border: solid 1px #ccc;
  }
  
  .section-accordion-item + .section-accordion-item {
    border-top: none;
  }
  
  .section-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  
  .section-accordion-item-description {
    font-size: 0.85em;
    color: #999;
  }
  
  .section-accordion-item-header,
  .section-accordion-item-body {
    padding: 16px;
  }
  
  .section-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
  }
  
  .section-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .section-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  