<div>
    <div class="modal-header">
      <h4 class="modal-title">CheckOut</h4>
    </div>
    <div class="modal-body">
      
      <div class="div">
        <table>
          <tr *ngIf = "isExpired" class="my-5">
            <td class=""text-danger>
              You have to pay 500$ due to late submission.
          </td>
          </tr>
            <tr>
                <td>
                    Borrower's phoneNumber:
                </td>
                <td>
{{borrower.phone}}
                </td>
            </tr>
            
            <tr>
                <td>
                    Book name:
                </td>
                <td>
                    {{borrower.bookTitle}}
                </td>
            </tr>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close(false)">Cancel</button>
      <button type="button"
        class="btn btn-outline-dark"
        (click)="checkedOut()">OK</button>
    </div>
  </div>
