<div>
    <div class="modal-header">
      <h4 class="modal-title">Delete Book</h4>
    </div>
    <div class="modal-body">
      <div class="div">
        Are you sure want to delete this book?
      </div>
    </div>
    <div class="modal-footer">
      <button type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close(false)">Cancel</button>
      <button type="button"
        class="btn btn-outline-dark"
        (click)="deleteBook()">OK</button>
    </div>
  </div>`
