.title-br{
    border-top: 10px solid purple;
}

.title{
    color: blueviolet;
}

  .menu-right{
    flex: 1 1 auto;
}
.book-container {
  width: 200px;
}
.book-status-sidebar-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .book-availability-filter {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .book-availability-button {
    margin: 5px;
  }
  .book-status-is-mobile .book-status-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  
  .book-status-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    height: 100%;
  }
  
  .book-status-is-mobile .book-status-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .nav-container{
    width: 200px;
  }