<div>
    <div class="modal-header">
        <h4 class="modal-title">Specify the shelf</h4>
    </div>

    <div class="modal-body">
        <div class="text-danger" *ngIf="isError">*{{error_msg}}</div>
        <form [formGroup]='form'>
            <div class="form-group">

                <mat-form-field>
                    <mat-label>Floor</mat-label>
                    <mat-select [(ngModel)]="floorSelected" formControlName="floorNo" name="floorNo" (selectionChange)="getFloorSelection($event.value)">
                        <mat-option *ngFor="let f of floors" [value]="f.floorId">
                            {{f.floorNo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="form-group">

                <mat-form-field>
                    <mat-label>Section Name</mat-label>
                    <mat-select [(ngModel)]="sectionSelected" formControlName="sectionName" name="sectionName" (selectionChange)="getSectionSelection($event.value)" >
                        <mat-option *ngFor="let s of sections" [value]="s.sectionId">
                            {{s.sectionName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="form-group">

                <mat-form-field>
                    <mat-label>Shelf number</mat-label>
                    <mat-select [(ngModel)]="shelfSelected" formControlName="shelfNo" name="shelfNo" >
                        <mat-option *ngFor="let s of shelfs" [value]="s.shelfId">
                            {{s.shelfNo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="form-group">
                <label for="position">Position</label>
                <input type="number" class="form-control" id="position" formControlName="position"
                    placeholder="Enter position" name="position">
                <div *ngIf="fc.position.errors?.required">
                    <div class="text-danger" *ngIf="fc.position.touched && fc.position.invalid">
                        Position required.
                    </div>
                </div>
      
              <div
                *ngIf="
                  !fc.position.errors?.required && fc.position.errors?.maxlength
                "
              >
                <div
                  class="text-danger"
                  *ngIf="fc.position.touched && fc.position.invalid"
                >
                  position must be less than 16 letters
                </div>
              </div>
              <div
                *ngIf="
                  !fc.position.errors?.required &&
                  !fc.position.errors?.maxlength &&
                  fc.position.errors?.NoSpaceValidator
                "
              >
                <div
                  class="text-danger"
                  *ngIf="fc.position.touched && fc.position.invalid"
                >
                  position invalid!!!position not contains space!!!
                </div>
              </div>
            </div>
            <br>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Cancel</button>
                <button type="button" class="btn btn-success" [disabled]="form.invalid"
                    (click)="savePosition()">Submit</button>
            </div>
        </form>

    </div>
