<div class="container-fluid">
  <h1 class="fw-900 mt-3 ps-2 title">My Profile</h1>
  <hr class="title-br p-0" />
  <br />
  <br />
  <div class="d-flex justify-content-center">
    <table class="w-50 border-3 align-content-center" style="font-size: 16px">
      <tr class="p-3">
        <th>First Name</th>
        <td>{{ user?.firstName }}</td>
      </tr>
      <tr class="p-3">
        <th>Last Name</th>
        <td>{{ user?.lastName }}</td>
      </tr>
      <tr class="p-3">
        <th>Phone Number</th>
        <td>{{ user?.phoneNumber }}</td>
      </tr>
    </table>
  </div>
</div>
