
<div class="container">
    <h1 class="text-danger text-center"> Authentication application Dashboard</h1>

    <br>
    <br>
    <div class="d-flex justify-content-center">
        <table  class="w-50 border-3 align-content-center" style="font-size: 16px;">
            <tr class="p-3">
                <th>First Name</th>
                <td>{{user?.firstName}}</td>
            </tr>
            <tr  class="p-3">
                <th>Last Name</th>
                <td>{{user?.lastName}}</td>
            </tr>
            <tr  class="p-3">
                <th>Phone Number</th>
                <td>{{user?.phoneNumber}}</td>
            </tr>
            <tr  class="p-3">
                <th>Role</th>
                <td>{{user?.role}}</td>
            </tr>
        </table>
    </div>
    

</div>
